<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a href="/">{{ site.title }} &copy; Copyright {{ build.timestamp | dateToFormat('yyyy') }}</a>
    {%- for item in footerNav -%}
    &nbsp;·&nbsp;<a href="{%- if item.url.startsWith('~') -%}{{env.base.url}}{{item.url.substring(1, item.url.length)}}{%- else -%}{{item.url}}{%- endif -%}">{{item.text}}</a>
    {%- endfor -%}
  </p>
</footer>